<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
  <script src="start.js"></script>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="login-box">
    <div class="left-box">
    <h1>Create Room</h1>
    <!-- <input type="text" class="input-box" placeholder="Username"> -->
    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Enter password">
    <!-- <input type="code" class="input-box" placeholder="Enter code"> -->
     <!-- <input type="submit" class="submit-btn" value="join meet"> -->
     <!-- <button onclick="signIn()" class="signIn">JOIN MEET</button> -->
     <button onclick="signUp()" id="signUp"> Sign Up</button>
     <button onclick="signIn()" id="signIn"> Sign In</button>
     <!-- <button onclick="signOut()" id="signOut">Sign Out</button> -->
 
     </div>
     <div class="right-box"> -->
          <span class="right-title">Sign up with <br>Social Network</span>
         <button class="social google">Log in with Google+</button>
         <button class="social facebook">Log in with Facebook</button>
         <button class="social twitter">Log in with Twitter</button>

     </div>
     <div class="or"> OR </div>
     </div>
</body>
</html>